<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Тестування знань</title>

    <!-- Bootstrap -->
    <link href="{{ asset('/bundles/app/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/bundles/app/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/bundles/app/css/style.css') }}" rel="stylesheet">

    {% block css %}
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">Тестування знань</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('homepage') }}">Головна</a></li>
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('list_entity') }}">Списки</a></li>
                {% endif %}              

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_USER') %}
                    <li><a href="#">Вітаємо, {{ app.user.lastName ~ ' ' ~ app.user.firstName }}</a></li>
                    <li class="active"><a href="{{ path('fos_user_security_logout') }}">Вихід</a></li>
                {% else %}
                    <li class="active"><a href="{{ path('fos_user_security_login') }}">Вхід</a></li>
                    <li class="active"><a href="{{ path('fos_user_registration_register') }}">Реєстрація</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        {% block info %}
            <div class="col-md-6 col-md-offset-">
                {% include 'AppBundle:Alert:alert.html.twig' %}
            </div>
        {% endblock %}
    </div>
</div>

{% block content %}
{% endblock %}


<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="{{ asset('/bundles/app/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('/bundles/app/js/script.js') }}"></script>
{% block js %}
{% endblock %}


</body>
</html>
