{% extends 'AppBundle::base.html.twig' %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <button type="reset" class="add-student btn btn-default">Додати студента</button>
            </div>
            <div class="col-lg-12">
                <ul class="owner">
                    {% if students|length != 0 %}
                        {% for item in students %}
                            <li data-toggle="collapse" data-target="#course_{{ item.id }}" level="1"
                                    {% if item.tests|length != 0 %} class="no-empty"><i class="fa fa-angle-right"
                                                                                          aria-hidden="true"></i>{% else %}>{% endif %}
                                <span>{{ item.lastName|title ~ ' ' ~ item.firstName|title }}</span>
                                <a class="delete" href="{{ path('web_delete_student',{'id':item.id}) }}"><i
                                            class="glyphicon glyphicon-remove"></i></a>
                                <a class="edit" href="{{ path('edit_student',{'id':item.id}) }}"><i
                                            class="glyphicon glyphicon-pencil"></i></a>
                                <span class="status">
                                    {% if item.isactive %}
                                        <span class="online">Online</span>
                                    {% else %}
                                        <span class="offline">Offline</span>
                                    {% endif %}
                                </span>
                            </li>
                            <ul id="course_{{ item.id }}" class="collapse">
                                {% for item1 in item.tests %}
                                    <li data-toggle="collapse" data-target="#module_{{ item1.id }}" level="2">
                                        <div class="row">
                                            <div class="col-md-12"><p>Тест: {{ item1.description }}</p></div>
                                            <div class="col-md-6">
                                                Всього питань: {{ item1.qcount }}
                                                Вірних питань: {{ item1.qtcount }}
                                            </div>
                                            <div class="col-md-6">
                                                Витрачено часу: {{ item1.timer }}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    {% else %}
                        <li level="1">Записи відсутні</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div id="student_modal_window" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Новий студент</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form_error"></div>
                            <form method="POST" class="ajaxForm theme" action="{{ formStudent.vars.action }}">
                                <div id="form_body">
                                    {% include 'AppBundle:Form:form.html.twig' with {'form': formStudent} %}
                                </div>
                                <button type="submit" class="btn btn-primary">Зберегти</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {

            $('.add-student').click(function (e) {
                $('#student_modal_window').modal('show');
            });

            $(document).on('submit', '.ajaxForm', function (e) {
                e.preventDefault();
                query($(this).attr('action'), $(this).attr('method'), $(this).serialize(),
                    function (data) {
                        console.log(data);
                        alert('Запис добавлено');
                        $('.modal').modal('hide');
                        location.reload();
                    },
                    function (jqXHR, textStatus, errorThrown) {
                        if (typeof jqXHR.responseJSON !== 'undefined') {
                            if (jqXHR.responseJSON.hasOwnProperty('form')) {
                                $('#form_body').html(jqXHR.responseJSON.form);
                            }

                            $('.form_error').html(jqXHR.responseJSON.message);

                        } else {
                            alert(errorThrown);
                        }
                    });
            });


            function query(url, type, data, success, error) {
                $.ajax({
                    type: type,
                    url: url,
                    data: data,
                    success: success,
                    error: error
                });
            }

        })
    </script>
{% endblock %}