{% extends 'AppBundle::base.html.twig' %}

{% block css %}
    {#<link rel="stylesheet" href="{{ asset('/bundles/app/jqwidgets/styles/jqx.base.css') }}">#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css"/>
    <style>

        ul.list, ul.list ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: block;
        }

        ul.list li {
            display: block;
            width: 100%;
            padding: 15px 10px;
            margin: 5px 0;
            border: 1px solid #414141;
            position: relative;
        }

        ul[level="1"] li {
            background: #eee;
        }

        ul[level="2"] li {
            background: #ddd;
        }

        ul[level="3"] li {
            background: #ccc;
        }

        ul[level="2"] li:hover {
            background: #ddd;
        }

        ul.list .online {
            color: #1F811F;
            position: absolute;
            top: 10px;
            right: 15px;
        }

        ul.list .offline {
            color: #960817;
            position: absolute;
            top: 10px;
            right: 15px;
        }


    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if is_granted('ROLE_USER') %}
                <div class="col-md-12">
                    <div class="btn-group">
                        <button class="btn btn-info" id="add_student_btn">Додати студента</button>
                    </div>
                </div>

                <div class="col-md-12">
                    <ul class="list">

                    </ul>
                </div>
                <div class="col-md-12">
                    <button id="load" class="btn btn-success">Завантажити ще</button>
                </div>

                <!-- Modal -->
                <div id="add_student" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Додати студента</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form action="#" class="student_form">
                                            <div class="form-group">
                                                <label for="last_name">Прізвище</label>
                                                <input type="text" name="last_name" id="last_name" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="first_name">Ім'я</label>
                                                <input type="text" name="first_name" id="first_name"
                                                       class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="login">Логін</label>
                                                <input type="text" name="login" id="login" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Пароль</label>
                                                <input type="text" name="password" id="password" class="form-control">
                                            </div>
                                            <input type="hidden" name="is_active" value="false">
                                            <input type="hidden" name="teacher" value="{{ app.user.id }}">
                                            <input type="submit" id="student_sub" value="Зберегти">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                            </div>
                        </div>

                    </div>
                </div>
            {% else %}
                <div class="col-md-12">
                    <h1 class="text-center text-danger">Для перегляду увійдіть у систему!!!</h1>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            {% if is_granted('ROLE_USER') %}
            $(window).load(function (e) {
                loadList();
            });
            {% endif %}

            var students = [],
                url = '{{ path('get_students') }}',
                limit = 5,
                offset = 0
            ;

            function loadList() {
                query('{{ path('get_student_teacher',{'teacher_id':app.user.id}) }}' + '?limit=' + limit + '&offset=' + offset, 'GET', function (data) {
                    students = data;
                    generateList(students);
                }, null);
            }

            function generateList(data) {
                var list = $('ul.list');
                if (data.length > 0) {
                    $.each(data, function (key, val) {
                        var liL1 = document.createElement('li');
                        $(liL1).text(val.lastname + ' ' + val.firstname);
                        $(liL1).attr('obj_id', val.id);
                        var span = document.createElement('span');
                        if (val.is_active) {
                            $(span).addClass('online glyphicon glyphicon-ok');
                        } else {
                            $(span).addClass('offline glyphicon glyphicon-remove');
                        }
                        $(liL1).append(span);
                        if (val.tests.length > 0) {
                            var ulL2 = document.createElement('ul');
                            $(ulL2).attr('level', 2);
                            $.each(val.tests, function (key, val) {
                                var liL2 = document.createElement('li');
                                $(liL2).text("Тест: " + val.description + ' Питань: ' + val.qcount + ' Вірних: ' + val.qtcount + ' Дата: ' + val.date + ' Час: ' + val.time + ' Використано часу: ' + val.timer);
                                $(liL2).attr('obj_id', val.id);
                                $(ulL2).append(liL2);
                            });
                            $(liL1).append(ulL2);
                        }
                        $(list).append(liL1);
                    });
                    if(data.length % limit != 0){
                        $('#load').remove();
                    }

                } else {
                    var liL1 = document.createElement('li');
                    $(liL1).text('Записи відсутні');
                    $(list).append(liL1);
                }
            }

            $('#load').click(function (e) {
               offset = offset + limit;
               loadList();
            });

            $('#add_student_btn').click(function (e) {
                $('#add_student').modal('show');
            });

            $('#student_sub').click(function (e) {
                e.preventDefault();
                var st = $('.student_form').serializeArray();
                query('{{ path('post_student') }}', 'POST', function (data) {
                    alert('Студента створено!');
                    $('#add_student').modal('hide');
                    loadList();
                }, st);
            });

            function query(url, type, success, data) {
                $.ajax({
                    type: type,
                    url: url,
                    data: data,
                    success: success,
                    dataType: "json",
                    error: function (e) {
                        console.log(e);
                    }
                });
            }

        })
    </script>
{% endblock %}